<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nosotros - Equipo 3</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">ThreeTI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portafolio</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="portfolio-overview.html">Todos los Proyectos</a></li>
                                    <li><a class="dropdown-item" href="portfolio-item.html">Dashboard CHM</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-5" style="background-image: url(../assets/images/FotoAboutUs.webp);"> >
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3 text-white">Nuestra mision es desarrollar proyectos de tecnologia accesibles y de calidad para todo tipo de publico.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Brenda -->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/Brenda.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Brenda Elena Saucedo González</h2>
                            <h5>Ingeniería en Tecnologías Computacionales</h5>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Acerca de mí</strong> <br>
                                Estudiante de universidad. Soy perseverante, creativa y curiosa. <br> Me gusta el arte, el deporte y la tecnología.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Experiencia laboral</strong> <br>
                                Maestra de ética y valores en ANSPAC. (2020) <br>
                                Tutora de matemáticas en JANN. (2022)
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Educación</strong> <br>
                                Estudios Superiores: Instituto Cumbres (2017-2020) <br>
                                Estudios Profesionales: ITESM (2020-2024)
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Habilidades</strong> <br>
                                Photoshop, Illustrator, SolidWorks, Office, Python y C++.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Idioma Extranjero</strong> <br>
                                Inglés: Intermedio <br>
                                Francés: Básico
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Jorge -->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/Jorge.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Jorge Del Barco Garza</h2>
                            <h5>Ingeniería en Tecnologías Computacionales</h5>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Acerca de mí</strong> <br>
                                Alumno de 4to semestre en el Tec de Monterrey. Me gusta la música, la tecnología y aun más las computadoras.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Experiencia laboral</strong> <br>
                                Director de tecnologías de información de la Sociedad de Alumnos ITC (SAITC)
                                
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Educación</strong> <br>
                                Estudios Superiores: PrepaTec Eugenio Garza Lagüera (2017-2020) <br>
                                Estudios Profesionales: ITESM (2020-2024)
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Habilidades</strong> <br>
                                Linux, desarrollo web con React, Javascript, Python y C++.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Idioma Extranjero</strong> <br>
                                Inglés: Avanzado <br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Müsel -->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/Musel.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Müsel Emmanuel Tabares Pardo</h2>
                            <h5>Ingeniería en Tecnologías Computacionales</h5>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Acerca de mí</strong> <br>
                                Estudiante de 4to semestre del Tecnológico de Monterrey. Me gusta leer, el deporte y los retos. 
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Experiencia laboral</strong> <br>
                                Tutorias de Comunicación y Matemáticas en el programa Aprendamos Juntos (2020-2021)
                                
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Educación</strong> <br>
                                Estudios Superiores: Preparatoria Federal Lázaro Cárdenas(2017-2020) <br>
                                Estudios Profesionales: ITESM (2020-2024)
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Habilidades</strong> <br>
                                Python, Matlab y C++.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Idioma Extranjero</strong> <br>
                                Inglés: Avanzado <br>
                                Francés: Intermedio
                            </p>
                             </div>
                    </div>
                </div>
            </section>
            <!-- Nico -->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/Nicolas.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nicolás Reeling Brouwer Diez</h2>
                            <h5>Ingeniería en Tecnologías Computacionales</h5>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Acerca de mí</strong> <br>
                                Actualmente cursando el 4to semestre. Me gusta leer, escuchar música, resolver problemas y videojuegos. 
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Experiencia laboral</strong> <br>
                                Tutorias de Comunicación y Matemáticas en el programa Aprendamos Juntos (2021-2022) <br>
                                Apoyo con el manejo y uso de CRMs en Fundación Haciendas del Mundo Maya.
                                
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Educación</strong> <br>
                                Estudios Superiores: PrepaTec Campus Santa Fé (2017-2020) <br>
                                Estudios Profesionales: ITESM (2020-2024)
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Habilidades</strong> <br>
                                Java, C#, C++, Office y uso de CRMs.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Idioma Extranjero</strong> <br>
                                Inglés: Avanzado <br>
                                Alemán: Básico
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Patricio -->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="../assets/images/Patricio.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Patricio Mendoza Pasapera</h2>
                            <h5>Ingeniería en Tecnologías Computacionales</h5>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Acerca de mí</strong> <br>
                                Soy de Los Cabos, B.C.S. y vivo en Monterrey, N.L. Me gusta el hiking, programar, escuchar música y pasar tiempo con seres queridos.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Experiencia laboral</strong> <br>
                                Tutorias de Matemáticas en JANN (2022)
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Educación</strong> <br>
                                Prepatatoria: Liceo Los Cabos <br>
                                Universidad: Instituto Tecnológico de Monterrey, Campus Monterrey
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Habilidades</strong> <br>
                                C++, Python, Kali Linux, Análisis de Datos y Office.
                            </p>
                            <p class="lead fw-normal text-muted mb-0">
                                <strong>Idioma Extranjero</strong> <br>
                                Inglés: Avanzado <br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; ThreeTI 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
