<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Equipo 3</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">ThreeTI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                        <li class="nav-item dropdown">
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Portafolio</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                <li><a class="dropdown-item" href="portfolio-overview.html">Todos los proyectos</a></li>
                                <li><a class="dropdown-item" href="portfolio-item.html">Dashboard CHM</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url(../assets/images/proyecto.jpg);">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">Desarrollamos soluciones de TI para tu
                                negocio</h1>
                            <p class="lead fw-normal text-white-50 mb-4">Consultoría y desarrollo de soluciones de TI
                                adecuadas a las necesidades de tu organización.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Conócenos</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="contact.html">Agenda tu consulta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">La mejor manera de construir software</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-files"></i></div>
                                <h2 class="h5">Requerimientos siguiendo estándares internacionales</h2>
                                <p class="mb-0">En ThreeTI nos exigimos para brindar soluciones de calidad. Es por ello
                                    que
                                    trabajamos siguiendo formatos basados en ISO y SGS.
                                </p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-people-fill"></i></div>
                                <h2 class="h5">Comunicación continua con nuestros clientes</h2>
                                <p class="mb-0">Es importante para nosotros darte justo lo que tu organización necesita.
                                    Reportamos avances periodicamente.
                                </p>
                            </div>
                            <div class="col mb-5 mb-md-0 h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-bar-chart-steps"></i></div>
                                <h2 class="h5">Metodologías ágiles de trabajo</h2>
                                <p class="mb-0">SCRUM, Lean, Kanban, y XP. Todas metodologías iterativas para desarrollo
                                    de proyectos de alto impacto.</p>
                            </div>
                            <div class="col h-100">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-code-slash"></i></div>
                                <h2 class="h5">Desarollo con tecnologías de punta</h2>
                                <p class="mb-0">ThreeTI está siempre al tanto de las tecnologías "bleeding edge" para
                                    brindar siempre
                                    lo más nuevo del mercado.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial section-->
        <div class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 col-xl-7">
                        <div class="text-center">
                            <div class="fs-4 mb-4 fst-italic">"La tecnología no es nada. Lo importante es que tengas fe
                                en la gente, que sean
                                básicamente buenas e inteligentes, y si les das herramientas, harán cosas maravillosas
                                con ellas."</div>
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="rounded-circle2 me-3"
                                    src="https://hoyenapple.com/wp-content/uploads/2020/02/steve-jobs-1-2.jpg"
                                    alt="..." />
                                <div class="fw-bold">
                                    Steve Jobs
                                    <span class="fw-bold text-primary mx-1">/</span>
                                    Cofundador de Apple y cofundador de Pixar.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Meet the team section-->

        <!-- Carousel-->
        <div class="container-sm">
            <div class="row justify-content-center">
                <div class="col-10 py-5">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <div class="container px-5 my-2">

                                <p class="lead2 fw-normal text-white mb-3 text-center">
                                    Grupo de estudiantes del Tec de Monterrey con experiencia
                                    en el área de computación y desarollo de software.
                                </p>

                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-8 col-xl-6">
                                        <div class="text-center">
                                            <a class="btn btn-outline-light" href="about.html" role="button">
                                                Conoce al equipo
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                
                                <div class="row gx-5 justify-content-center">
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="4" aria-label="Slide 5"></button>
                                </div>
                            </div>
                        </div>
                        <!--Carousel-->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../assets/images/Brenda.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/Jorge.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/Patricio.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/Musel.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/Nicolas.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>


    </main>

    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; ThreeTI 2022</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="contact.html">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/script.js"></script>
</body>

</html>